.container {
  margin-top: 80px;
}
.container .banner {
  background: linear-gradient(180deg, #E1E0D4 0%, #FCFCFC 100%);
  position: relative;
}
.container .banner .bgcenter {
  display: block;
  margin: 0 auto;
  position: sticky;
  z-index: 1;
}
.container .banner .text-left img {
  position: absolute;
}
.container .banner .text-left img:nth-child(1) {
  top: 80px;
  left: 380px;
}
.container .banner .text-left img:nth-child(2) {
  top: 265px;
  left: 280px;
}
.container .banner .text-right {
  position: absolute;
  top: 350px;
  right: 0;
  margin-right: 90px;
}
.container .banner .poicey_box {
  display: flex;
  width: 300px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  top: 125px;
  right: 430px;
  justify-content: space-evenly;
  padding: 20px 10px;
  z-index: 1;
}
.container .banner .poicey_box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 60px;
  top: 100px;
  border: 1px solid;
  border-width: 0px 60px 30px 1px;
  border-color: transparent transparent #ffffff transparent;
  transform: rotate(120deg);
}
.container .banner .poicey_box p {
  align-self: center;
}
.container .banner .poicey_box .arrowed {
  width: 58px;
  height: 58px;
  background: #DAB071;
  display: block;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.container .banner .poicey_box .arrowed:hover {
  opacity: 0.5;
}
.container .banner .poicey_box .arrow-5 {
  /* more triangle */
  display: block;
  height: 0px;
  width: 0px;
  border: 6px solid;
  border-color: #fff #fff transparent transparent;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.container .banner .poicey_box .arrow-5:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  height: 5px;
  width: 10px;
  background-color: #fff;
  transform: rotate(-45deg) translate(2px, 1px);
}
.container .sevices {
  background-image: url("../img/servicebg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.container .sevices .div {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 10%;
}
.container .sevices .div .text {
  padding-top: 10%;
}
.container .sevices .div .text .title {
  font-size: 40px;
  font-weight: 700;
  color: #0F2F33;
}
.container .sevices .div .text .content {
  margin-top: 5px;
  font-weight: 400;
}
.container .sevices .div .form {
  margin-top: 50px;
  width: 490px;
}
.container .sevices .div .form .form_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 5px;
}
.container .sevices .div .form .form_wrap label {
  width: 80px;
  padding: 15px;
}
.container .sevices .div .form .form_wrap input {
  flex: 1;
  flex-shrink: 1;
  border: none;
  text-align: right;
  padding-right: 15px;
  border-radius: 5px;
}
.container .sevices .div .form .feedback {
  display: block;
}
.container .sevices .div .form .feedback label {
  display: block;
}
.container .sevices .div .form .feedback textarea {
  border: none;
  resize: none;
  margin: 0 23px;
  width: 90%;
}
.container .sevices .div .form .send {
  background: #051A1D;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
  width: 100%;
}
.container .sevices .div .form .send:hover {
  background: #274043;
}/*# sourceMappingURL=style.css.map */